.fixedBar {
    top: 80%;
    right: 2vw;
    }
    .fixedBar, .header {
    position: fixed;
    z-index: 999;
    }
    
    .fixedQuote, .fixedShare {
    position: relative;
    display: inline-block;
    padding: 25px 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fdbf50;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    }